@import '~assets/sass-utils/variables.scss';

.report-title {
    font-family: $primary-font-bold;
    font-size: $font-size-title-large;
    color: $primary-color;
    margin-bottom: 10px;
}

.report-content {
    margin-top: 25px;

    &__section-title {
        font-family: $primary-font-bold;
        color: $black;
        font-size: $font-size-title-big;
        margin-bottom: 10px;
    }
            
    &__section-description {
        font-family: $secondary-font;
        color: $black;
        font-size: $font-size-medium;
        text-align: justify;
        margin-bottom: 20px;

        &__media {
           max-width: 175px;
        }
    }
}