@import '~assets/sass-utils/variables';
@import '~assets/sass-utils/mixins';

.sdm-footer {
    background-color: $primary-color;
    margin-top: 50px;
    padding: 50px;
    position: absolute;
    width: 100vw;
    bottom: 0px;
    box-sizing: border-box;
    color: $white;
    z-index: z('footer');

    &__grid {
        &__infos {
            &__sitename {
                font: $font-size-title-enormous $primary-font-bold;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            &__copyright {
                font: $font-size-medium $secondary-font;
                text-transform: uppercase;
            }
        }

        &__sitemap {
            &__title {
                font: $font-size-title-big $primary-font-bold;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            &__link {
                font: $font-size-medium $secondary-font;
                color: $white;
            }
        }

        &__mediaicons {
            &__title {
                font: $font-size-title-big $primary-font-bold;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
        }
    }
}