<footer class="sdm-footer">
    <div class="sdm-footer__grid" uk-grid>
        <div class="sdm-footer__grid__infos uk-width-1-2@m">
            <div class="sdm-footer__grid__infos__logo">
                <sdm-logo [type]="'--white'"></sdm-logo>
            </div>
            <div class="sdm-footer__grid__infos__copyright">
                © 2018 - 2018<br>Governo do Estado do Ceará e Universidade Federal do Ceará. Todos os direitos reservados.
            </div>
        </div>
        <div class="sdm-footer__grid__sitemap uk-width-expand@m">
            <div class="sdm-footer__grid__sitemap__title">Mapa do Site</div>
            <a href="/home" class="sdm-footer__grid__sitemap__link">Página Inicial</a><br>
            <a href="/sobre-nos" class="sdm-footer__grid__sitemap__link">Sobre Nós</a><br>
            <a href="/FAQ" class="sdm-footer__grid__sitemap__link">Perguntas Frequentes</a><br>
            <a href="/realizar-denuncia" class="sdm-footer__grid__sitemap__link">Realizar Denúncia</a><br>
            <a href="/consultar-denuncias" class="sdm-footer__grid__sitemap__link">Consultar Denúncia</a>
        </div>
        <div class="sdm-footer__grid__mediaicons uk-width-expand@m">
            <div class="sdm-footer__grid__mediaicons__title">Redes Sociais</div>
            <span uk-icon="icon: facebook; ratio: 1.5" class="uk-margin-small-right"></span>
            <span uk-icon="icon: twitter; ratio: 1.5" class="uk-margin-small-right"></span>
            <span uk-icon="icon: google-plus; ratio: 1.5"></span>
        </div>
    </div>
</footer>