<footer class="sdm-footer">
    <div uk-grid>
        <div class="sdm-footer__infos uk-width-1-2@m">
            <div class="sdm-footer__infos__sitename">
                Sidema
            </div>
            <div class="sdm-footer__infos__copyright">
                © 2018 - Governo do Estado do Ceará e Universidade Federal do Ceará. Todos os direitos reservados.
            </div>
        </div>
        <div class="sdm-footer__sitemap uk-width-expand@m">
            <div class="sdm-footer__sitemap__title">Mapa do Site</div>
            <a href="/home">Página Inicial</a><br>
            <a href="/sobre-nos">Sobre Nós</a><br>
            <a href="/FAQ">Perguntas Frequentes</a>
        </div>
        <div class="sdm-footer__mediaicons uk-width-expand@m">
            <div class="sdm-footer__mediaicons__title">Redes Sociais</div>
            <span uk-icon="icon: facebook; ratio: 1.5"></span>
            <span uk-icon="icon: twitter; ratio: 1.5"></span>
            <span uk-icon="icon: google-plus; ratio: 1.5"></span>
        </div>
    </div>
</footer>