@import "~assets/sass-utils/variables";
@import "~assets/sass-utils/mixins";

.form-report {
    &__title {
        font-family: $primary-font-bold;
        color: $primary-color;
        font-size: $font-size-title-large;
        padding: 20px 30px;
        margin-bottom: 10px;
        box-sizing: border-box;

        @include mqMaxWidth('lg') {
            padding-top: 70px;
        }
    }
    &__form {
        padding: 0px 30px 30px 30px;

        &__subtitle {
            font-family: $primary-font;
            color: $black;
            font-size: $font-size-medium;
        }
        &__error-message{
            font-family: $primary-font;
            padding: 5px;
        }
    }
}