<section class="form-report">
    <header class="form-report__title">Registrar nova denúncia</header>
    <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-1">
            <input class="uk-input" type="text" placeholder="Título da Denúncia*" name="title" [(ngModel)]="title">
        </div>
        <div class="uk-width-1-1">
            <textarea class="uk-textarea" rows="5" placeholder="Decrição da Denúncia* (Informe a maior quantidade possível de detalhes)" name="description" [(ngModel)]="description"></textarea>
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="text" placeholder="Endereço*" name="address" [(ngModel)]="address">
        </div>
        <div class="uk-width-1-4@s">
            <input class="uk-input" type="text" placeholder="Número" name="number" [(ngModel)]="number">
        </div>
        <div class="uk-width-1-4@s">
            <input class="uk-input" type="text" placeholder="Bairro*" name="neighborhood" [(ngModel)]="neighborhood">
        </div>
        <div class="uk-width-1-2@s">
            <input class="uk-input" type="text" placeholder="Complemento" name="complement" [(ngModel)]="complement">
        </div>
        <div class="uk-width-1-4@s">
            <sdm-button [type]="'tertiary'" [btnWidth]="'large'">GERAR LOCALIZAÇÃO</sdm-button>
        </div>
        <div class="uk-width-1-1">
            <input class="uk-input" type="text" placeholder="Descrição do Infrator (se houver)" name="violator" [(ngModel)]="violator">
        </div>
        <div class="uk-width-auto@m">
            <div uk-form-custom="target: > * > span:first-child">
                <select [(ngModel)]="category" name="category">
                  <option value="">Categoria*</option>
                  <option value="monoliths">Monólitos</option>
                  <option value="water-resources">Recursos Hídricos</option>
                  <option value="vegetation">Vegetação</option>
                  <option value="historical-patrimony">Patrimônio</option>
                </select>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">
                  <span></span>
                  <span uk-icon="icon: chevron-down"></span>
                </button>
            </div>
        </div>
        <div class="uk-width-auto@m">
            <div uk-form-custom="target: > * > span:first-child">
                <select>
                  <option value="">Tipo de infração*</option>
                </select>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">
                  <span></span>
                  <span uk-icon="icon: chevron-down"></span>
                </button>
            </div>
        </div>
        <span class="form-report__subtitle uk-width-1-1">Mídias*</span>
        <div>
            <div uk-form-custom>
                <input type="file">
                <div type="button" class="uk-button uk-button-default uk-card uk-card-body" uk-icon="icon: plus"></div>
            </div>
        </div>
        <div class="uk-margin uk-width-1-1">
            <sdm-button [type]="'quaternary'" [btnWidth]="'large'" (click)="sendReport()">ENVIAR DENÚNCIA</sdm-button>
        </div>
    </form>
</section>