@import "~assets/sass-utils/variables";

.form-report {
    &__title {
        font-family: $primary-font-bold;
        color: $primary-color;
        font-size: $font-size-title-big;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-family: $primary-font;
        color: $black;
        font-size: $font-size-medium;
    }
    &__error-message{
        font-family: $primary-font;
        padding: 5px;
    }
}

.list-media {
    display: flex;

    &__text{
        font-family: $primary-font;
    }
}