<sdm-header></sdm-header>
<div class = "container">
  <h1 class = "container__h1">Sobre Nós</h1>
  <div class = "container__content">
    O SIDEMA é um projeto desenvolvido por 5 alunos do curso de Design Digital da Universidade Federal do Ceará, campus Quixada, por meio da disciplina de Projeto Integrado III. Ao longo de três meses, a equipe idealizou, pesquisou, construiu a identidade visual, documentou o processo de produção, desenvolveu e concebeu a solução.
  </div>
</div>
<!--<sdm-footer></sdm-footer>-->