@import '~assets/sass-utils/variables';
@import '~assets/sass-utils/mixins';

.sdm-filter-chips {
    height: 35px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    background-color: $gray-ee;
    margin-right: 10px;
    font-family: $primary-font;
    font-size: $font-size-text;

    &__title {
        width: calc(100% - 45px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__close {
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }

    @include mqMaxWidth('mdx') {
        width: 100%;
    }
}