@import "~assets/sass-utils/variables";
@import "~assets/sass-utils/mixins";

.form-card {
    background-color: $gray-fa;
    width: 400px;
    box-shadow: none;

    &__content {
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        overflow: hidden;

        &__close-mobile {
            display: none;

            @include mqMaxWidth('lg') {
                display: block;
                text-align: right;
            }
        }

        &__slider {
            width: calc(300% + 120px);
            display: flex;
            justify-content: space-between;
            transition: transform 0.2s linear;

            &__sign-up,
            &__sign-in,
            &__forgot-password {
                width: 340px;
                box-sizing: border-box;

                @include mqMaxWidth('md') {
                    width: calc(100vw - 60px);
                }
            }
            &--on-sign-in {
                transform: translateX(-400px);

                @include mqMaxWidth('md') {
                    transform: translateX(-100vw);
                }
            }

            &--on-forgot-password {
                transform: translateX(-800px);

                @include mqMaxWidth('md') {
                    transform: translateX(-200vw);
                }
            }
        }
    }

    &__footer {
        font-family: $secondary-font;
        font-size: $font-size-text;
        text-align: center;
        padding: 30px;
        width: calc(100% - 60px);
        overflow: hidden;

        &__slider {
            width: calc(200% + 60px);
            display: flex;
            justify-content: space-between;
            transition: transform 0.2s linear;
            
            &__sign-up,
            &__sign-in,
            &__forgot-password {
                width: 340px;
                box-sizing: border-box;
            }

            &--on-sign-in {
                transform: translateX(400px);
            }
        }
        
        &__link {
            color: $primary-color;
            font-family: $primary-font;
            margin-top: -3px;
        }
    }

    @include mqMaxWidth('md') {
        width: 100vw;
    }
}
