<button class="social-button uk-button"
        [ngClass]="{
          'social-button--facebook': socialNetwork == 'Facebook',
          'social-button--google': socialNetwork == 'Google',
          'social-button--half-width': btnWidth == 'half',
          'social-button--float-right': btnFloat == 'right'
        }">
        <i uk-icon="facebook" class="social-button__icon uk-margin-small-right" *ngIf="socialNetwork == 'Facebook'"></i>
        <i uk-icon="google" class="social-button__icon uk-margin-small-right" *ngIf="socialNetwork == 'Google'"></i>
        {{socialNetwork}}
</button>
