@import '../../../assets/sass-utils/variables.scss';

.social-button {
    font-family: $primary-font;
    font-size: $font-size-small;
    letter-spacing: 1px;
    color: $white;
    display: inline-flex;
    align-items: center;

    &__icon {
        float: left;
        margin: 10px 0;
    }

    &--facebook {
        background-color: $facebook-color;

        &:hover {
            background-color: $facebook-color-hover;
        }
    }

    &--google {
        background-color: $google-color;

        &:hover {
            background-color: $google-color-hover;
        }
    }

    &--half-width {
        width: calc(50% - 10px);
    }

    &--float-right {
        float: right;
    }
}