@import '~assets/sass-utils/variables.scss';

.faq-question-container {
    &__faq-question {
        font-family: $primary-font-bold;
        color: $black;
        font-size: $font-size-title-big;
        margin-bottom: 5px;
    }
            
    &__faq-answer {
        font-family: $secondary-font;
        color: $gray-33;
        font-size: $font-size-medium;
        text-align: justify;
    }
}
