@import '~assets/sass-utils/variables.scss';
@import '~assets/sass-utils/mixins.scss';

.faq-container {
    
    text-align: justify;
  //  padding-bottom: 25px;
    box-sizing: border-box;

    &__faq-question {
        font-family: $primary-font-bold;
        color: $black;
        font-size: $font-size-title-big;
        }
            
    &__faq-answer {
        font-family: $secondary-font;
        color: $black;
        font-size: $font-size-medium;
    }
}
