<aside class="menu-container">
    <div class="menu-container__layer">
        <div class="menu-container__layer__close-mobile">
            <span uk-icon="close" (click)="exitThisMenu()"></span>
        </div>
        <div class="menu-container__layer__user-image-container" [style.backgroundImage]="'url(' + userPhoto + ')'"></div>
        <div class="menu-container__layer__welcome-text">
            Bem vindo(a),<br><span class="menu-container__layer__welcome-text__user-name">{{userName}}</span>
        </div>
        <div class="menu-container__layer__report-button">
            <sdm-button [type]="'primary'" [btnWidth]="'large'" routerLink="/sistema/denunciar" (click)="exitThisMenu()">REALIZAR DENÚNCIA</sdm-button>
        </div>
        <sdm-hints></sdm-hints>
        <ul class="menu-container__layer__actions uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="menu-container__layer__actions__option">
                <a routerLink="/sistema/denuncias" (click)="exitThisMenu()" class="menu-container__layer__actions__option__link">
                    <span class="uk-margin-right" uk-icon="icon: list"></span> Denúncias
                </a>
            </li>
            <li class="menu-container__layer__actions__option">
                <a routerLink="/sistema/perfil" (click)="exitThisMenu()" class="menu-container__layer__actions__option__link">
                    <span class="uk-margin-right" uk-icon="icon: cog"></span> Editar Perfil
                </a>
            </li>
            <li class="menu-container__layer__actions__option">
                <a href="" (click)="signOut()" (click)="exitThisMenu()" class="menu-container__layer__actions__option__link">
                    <span class="uk-margin-right" uk-icon="icon: sign-out"></span> Desconectar
                </a>
            </li>
        </ul>
    </div>
</aside>