<section class="form-sign-up">
    <header class="form-sign-up__title">CADASTRE-SE</header>
    <div class="form-sign-up__description">
        Cadastrando-se você poderá acompanhar com mais facilidade o andamento das suas denúncias. Além de poder comentar, apoiar e compartilhar uma denúncia nas redes sociais.
    </div>
    <form action="" class="form-sign-up__form">
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nome" [(ngModel)]="name" name="name">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="E-mail" [(ngModel)]="email" name="email">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="password" placeholder="Senha" [(ngModel)]="password" name="password">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="password" placeholder="Confirmar senha" [(ngModel)]="confirmPassword" name="confirmaPassword">
        </div>
        <sdm-button [type]="'primary'" [btnWidth]="'large'" (click)="createUser()">PARTICIPAR</sdm-button>
    </form>
    <hr class="uk-divider-icon">
    <sdm-social-button [socialNetwork]="'Facebook'" [btnWidth]="'half'"></sdm-social-button>
    <sdm-social-button [socialNetwork]="'Google'" [btnWidth]="'half'" [btnFloat]="'right'"></sdm-social-button>
</section>