<section class="form-forgot-password">
    <header class="form-forgot-password__title">ESQUECEU SUA SENHA?</header>
    <div class="form-forgot-password__description">
        Não se preocupe. Informe seu e-mail cadastrado no SIDEMA e te enviaremos um link para redefinição de senha.
    </div>
    <form action="" class="form-forgot-password__form">
        <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="E-mail" [(ngModel)]="email" name="email">
        </div>
        <sdm-button [type]="'primary'" [btnWidth]="'large'" (click)="resetPassword()">ENVIAR</sdm-button>
    </form>
</section>