@import "~assets/sass-utils/variables";
.form-forgot-password {
    width: 100%;
    text-align: left;
    &__title {
        text-align: center;
        font-family: $primary-font-bold;
        color: $primary-color;
        font-size: $font-size-title;
        margin-bottom: 20px;
    }
    &__description {
        font-family: $secondary-font;
        font-size: $font-size-text;
        line-height: 1.4;
        margin-bottom: 20px;
        text-align: justify;
    }
    &__divider {
        display: flex;
        align-items: center;
        font-family: $secondary-font;
        font-size: $font-size-small;
    }
}