@font-face{
    font-family: 'AileronRegular';
    src: url('/src/assets/fonts/Aileron-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: 'AileronBold';
    src: url('/src/assets/fonts/Aileron-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: 'AileronLight';
    src: url('/src/assets/fonts/Aileron-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: 'ChivoRegular';
    src: url('/src/assets/fonts/Chivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: 'ChivoBold';
    src: url('/src/assets/fonts/Chivo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: 'ChivoLight';
    src: url('/src/assets/fonts/Chivo-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}