// Colors
$white: #FFFFFF;
$gray-fa: #FaFaFa;
$gray-bb: #bbbbbb;
$gray-66: #666666;
$black: #000000;

$primary-color: #78BD00;
$styleguidePageBgColor: #deecb8;

//UIkit overwritten
$global-primary-background: $primary-color;
$button-default-border-color: #78bd0080;

// Facebook
$facebook-color: #3B5998;
$facebook-color-hover: #314b81;

// Google
$google-color: #DB4437;
$google-color-hover: #c03d31;

// Fonts
$primary-font: 'AileronRegular';
$primary-font-bold: 'AileronBold';
$primary-font-light: 'AileronLight';
$secondary-font: 'ChivoRegular';
$secondary-font-bold: 'ChivoBold';
$secondary-font-light: 'ChivoLight';

// Fonts sizes
$font-size-title-large: 26px;
$font-size-title-big: 20px;
$font-size-title: 18px;
$font-size-medium: 14px;
$font-size-text: 12px;
$font-size-small: 10px;

// media query
$width-breakpoints: (
    'md': 455px,
    'mdx': 605px,
    'lg': 1000px,
    'lgx': 1075px,
    'lgxx': 1200px
);

// Imports
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "fonts.scss";