<div class="menu-container__layer__hints-container">
  <div class="menu-container__layer__hints-container__hint uk-margin-bottom" *ngIf="router.url == '/sistema/denuncias'">
    <div class="menu-container__layer__hints-container__hint__icon">
      <i uk-icon="icon: info; ratio: 0.7"></i>
    </div>
    <div class="menu-container__layer__hints-container__hint__text">
      Aqui estão todas as denúncias já realizadas no sistema. Você pode clicar no ícone de impulsionar
      para apoiar uma denúncia. Caso queira ver mais detalhes de uma denúncia, basta clicar em seu título.
    </div>
  </div>  
  <div class="menu-container__layer__hints-container__hint uk-margin-bottom" *ngIf="router.url == '/sistema/denuncias'">
    <div class="menu-container__layer__hints-container__hint__icon">
      <i uk-icon="icon: info; ratio: 0.7"></i>
    </div>
    <div class="menu-container__layer__hints-container__hint__text">
      Nos filtros você pode escolher quais denúncias deseja ver. Os filtros são por Categoria, Subcategoria e 
      Estado da Denúncia. Você também pode fazer uma pesquisa por localidade ou título da denúncia.
    </div>
  </div>
  <div class="menu-container__layer__hints-container__hint uk-margin-bottom" *ngIf="router.url == '/sistema/denunciar'">
    <div class="menu-container__layer__hints-container__hint__icon">
      <i uk-icon="icon: info; ratio: 0.7"></i>
    </div>
    <div class="menu-container__layer__hints-container__hint__text">
      Este é o formulário de denúncia, os campos que possuem * são de preenchimento obrigatório. Você pode gerar sua localização 
      de forma automática, facilitando e agilizando o processo de denúncia. Não esqueça de carregar uma mídia referente a denúncia, ela pode ser 
      uma foto, um vídeo ou até mesmo um áudio.
    </div>
  </div> 
  <div class="menu-container__layer__hints-container__hint uk-margin-bottom" *ngIf="router.url == '/sistema/perfil'">
    <div class="menu-container__layer__hints-container__hint__icon">
      <i uk-icon="icon: info; ratio: 0.7"></i>
    </div>
    <div class="menu-container__layer__hints-container__hint__text">
      Aqui você pode editar o seu perfil, alterando suas informações básicas e modificando sua senha. Você também pode inserir sua foto de perfil!
    </div>
  </div> 
</div>