@import '~assets/sass-utils/variables';

.menu-container {
    width: 270px;
    height: 100vh;
    text-align: center;
    background-image: url("/assets/images/main-background.jpg");
    background-size: cover;
    background-position-x: -500px; 
    display: inline-block;

    &__layer {
        width: 100%;
        height: 100%;
        background-color: rgba($black, $alpha: 0.8);
        padding: 40px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &__hints-container {
            flex-grow: 1;

            &__hint {
                color: $white;
                font-family: $secondary-font;
                font-size: $font-size-small;
                text-align: left;
                display: flex;

                &__icon {
                    color: $primary-color;
                }

                &__text {
                    padding-left: 10px;
                }
            }
        }

    }
}