<button class="sdm-button uk-button"
        [ngClass]="{
          'uk-button-primary': type == 'primary',
          'uk-button-default': type == 'secondary',
          'uk-button-default-custom': type == 'secondary',
          'sdm-button--tertiary': type == 'tertiary',
          'sdm-button--quaternary': type == 'quaternary',
          'sdm-button--danger': type == 'danger',
          'sdm-button--danger-secondary': type == 'danger-secondary',
          'uk-width-1-1': btnWidth == 'large',
          'uk-width-1-2': btnWidth == 'medium',
          'sdm-button--width': !btnWidth
        }">
  <ng-content></ng-content>
</button>
