@import '~assets/sass-utils/variables.scss';
@import '~assets/sass-utils/mixins.scss';

.sdm-button {
    font-family: $primary-font;

    &--width {
        width: 240px;

        @include mqMaxWidth('lgx') {
            width: 100%;
            margin-bottom: 10px;
        }
    
        @include mqMaxWidth('lg') {
            width: 240px;
            margin-bottom: 0;
        }

        @include mqMaxWidth('mdx') {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.uk-button-default-custom {
    border: 1px solid $button-default-border-color;
    color: $white;

    &:hover {
        border-color: $global-primary-background;
    }
}

.uk-button-default-custom-location{
    border: 1px solid $button-default-border-color;
    color: $primary-color;
    background-color: $white;

    &:hover {
        border-color: $global-primary-background;
    }
}

.uk-button-default-custom-report{
    color: $white;
    background-color: $blue;

    &:hover {
        background-color: $background-button-report;
    }
}