@import '~assets/sass-utils/variables';
@import '~assets/sass-utils/mixins';

.section-one {
    &__layer {
        height: 100%;
        width: 100%;
        background-color: rgba($black, $alpha: 0.8);
        display: flex;

        &__introduction {
            width: calc(100% - 450px);
            height: 100%;
            padding: 0 50px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            &__container {
                max-width: 900px;

                &__btn {
                    display: none;

                    @include mqMaxWidth('lg') {
                        display: block;
                    }
                }

                &__logo {
                    text-align: center;
                }
    
                &__slogan {
                    font-family: $primary-font;
                    color: $white;
                    font-size: $font-size-title;
                    letter-spacing: 0.8px;
                    margin-top: 20px;
                    text-align: center;

                    &__break-line {
                        @include mqMaxWidth('md') {
                            display: none;
                        }
                    }

                    @include mqMaxWidth('mdx') {
                        font-size: $font-size-medium;
                    }
                }
    
                &__description {
                    font-family: $secondary-font;
                    font-size: $font-size-medium;
                    color: $gray-fa;
                    text-align: justify;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    margin: 50px 0;

                    @include mqMaxWidth('lg') {
                        display: none;
                    }
                } 
                
                &__description-mobile {
                    display: none;
                    font-family: $secondary-font;
                    font-size: $font-size-medium;
                    color: $gray-fa;
                    text-align: justify;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    margin: 50px 0;
                    margin: 25px 0;

                    @include mqMaxWidth('lg') {
                        display: block;
                    }
                } 
    
                &__actions {
                    text-align: left;

                    @include mqMaxWidth('lgxx') {
                        text-align: center;
                    }
                }
            }

            @include mqMaxWidth('lg') {
                width: 100%;
            }

            @include mqMaxWidth('md') {
                padding: 0 25px;
            }
        }
    
        &__form {
            width: 400px;
            height: 100%;
            display: flex;
            align-items: center;

            @include mqMaxWidth('lg') {
                display: none;
            }
        }
    }
}

.section-two {
    &__layer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &__container {

            &__title {
                padding: 0 50px;
                color: $white;
                font-size: 3.5em;
                text-align: center;
                font-family: $primary-font-bold;

                @include mqMaxWidth('mdx') {
                    font-size: 1.75em;
                }
            }

            &__subtitle {
                padding: 0 50px;
                color: $white;
                font-size: 1.6em;
                text-align: center;
                font-family: $primary-font;

                @include mqMaxWidth('mdx') {
                    font-size: 1em;
                }
            }

            &__subtitle-small {
                padding: 0 50px;
                color: $white;
                font-size: 1.25em;
                text-align: center;
                font-family: $primary-font-light;

                @include mqMaxWidth('mdx') {
                    font-size: 0.8em;
                }
            }
        }
    }
}

.buttonEnter{
    &__button{
        float: right;
        padding: 20px 20px; 
        position: sticky;
        top: 0;
      }
}

.section-three{
    &__layer {
        height: 100%;
        width: 100%;
        background-color: rgba($black, $alpha: 1);
        display: flex;

        &__container {
            width: 100%;
            height: 100%;
            margin: 0 auto;   
        }
    }
}

.section-four {
    &__layer {
        height: 100%;
        width: 100%;
        display: flex;

        &__container {
        max-width: 550px;
        margin-top: 95px;
        margin-left: 70px;

            &__introduction {
                padding: 20px 50px;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;
                font-size: 25px;
                font-family: $secondary-font;
            }

            &__logo {
                text-align: center;
            }
        }

        &__containerimg {
            max-width: 550px;
            margin-top: 80px;
            margin-left: 50px;
    
            &__imagem {
                margin-bottom: 150px;
            }
        }
    }
}

.section_five{
    &__layer {
        height: 100%;
        width: 100%;
        display: flex;

        &__container {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 85px;

            &__title {
                width: 100%;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 70px;
                font-family: $primary-font-bold                
            }

            &__subtitle {
                padding: 0 50px;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 20px;
                font-family: $primary-font
            }
        }

        &__container_card{
            max-width: 1200px;
            margin: 0 auto;
            display: inline-flex;
            margin-left: 245px;
        }
    }
}

.section-six{
    &__layer {
        height: 100%;
        width: 100%;
        display: flex;

        &__container {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 70px;

            &__introduction {
                max-width: 800px;
                padding: 50px 50px;
                color: $white;
                float: left;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;
                font-size: 18px;
                font-family: $primary-font-light;
                }

            &__title {
                width: 100%;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 70px;
                font-family: $primary-font-bold                
            }

            &__subtitle {
                padding: 0 50px;
                max-width: 900px;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 20px;
                font-family: $primary-font
            }

            &__card{
                width: 372px;
                height: 332px;
                padding-left: 5px;
                padding-top: 10px;
                display: flex;
                float: right;
            }
        }
    }
}

.section-seven{

    &__layer {
        height: 100%;
        width: 100%;
        display: flex;
        
        &__container {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 180px;

            &__title {
                width: 100%;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 50px;
                font-family: $primary-font-bold 
            }

            &__subtitle {
                padding: 0 50px;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 20px;
                font-family: $primary-font-light
            }

            &__report-button {
                padding: 30px;
                margin: 0 auto;
                width: 500px;
            }
        }
    }
}

.form-mobile {
    display: none;
    background-color: $gray-fa;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    transition: 0.2s;

    @include mqMaxWidth('lg') {
        display: block;
        overflow: scroll;
    }
}

.opened-modal {
    @include mqMaxWidth('lg') {
        transform: translateX(0%);
    }
}

.closed-modal {
    @include mqMaxWidth('lg') {
        transform: translateX(-100%);
    }
}
    
