<sdm-section [image]="'assets/images/main-background.jpg'" class="section-one">
  <div class="section-one__layer">
    <div class="section-one__layer__introduction">
      <div class="section-one__layer__introduction__container"
           [ngClass]="{'uk-animation-slide-left-small': showContent}"
           *ngIf="showContent">
        <div class="section-one__layer__introduction__container__logo">
            <sdm-logo></sdm-logo>
          </div>
          <div class="section-one__layer__introduction__container__slogan">
            Faça parte, você também, da luta contra<br class="section-one__layer__introduction__container__slogan__break-line">
            os crimes ambientais em Quixadá!
          </div>
          <div class="section-one__layer__introduction__container__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad quod sequi fugit, error, hic
            possimus est natus corporis esse in? Obcaecati et, quo saepe facilis mollitia iste cumque nihil.
            Hic, nemo. Praesentium voluptates, commodi quam ex ipsum error rem. Labore nisi unde, quae
            reprehenderit vel ratione vitae ipsum odio quis molestiae! Quos, labore quod, dicta voluptatibus
            officiis unde autem laudantium, suscipit magni maiores magnam. Labore dolorem voluptatem aliquid
            provident distinctio molestias placeat soluta. Repellat ipsam error, enim pariatur inventore iure
            corrupti iusto officia, ad, doloribus ipsa?
          </div>
          <div class="section-one__layer__introduction__container__actions">
            <sdm-button [type]="'primary'" class="uk-margin-right">REALIZAR DENÚNCIA</sdm-button>
            <sdm-button [type]="'secondary'">CONSULTAR DENÚNCIAS</sdm-button>
          </div>
      </div>
    </div>
    <div class="section-one__layer__form">
      <sdm-form-card [ngClass]="{'uk-animation-slide-right-small': showContent}" *ngIf="showContent"></sdm-form-card>
    </div>
    <sdm-down-arrow>ENTENDA</sdm-down-arrow>
  </div>
</sdm-section>
<sdm-section></sdm-section>
