<div *ngFor="let category of categories" class="card-category">
  <div class="uk-card uk-card-default card-category__container_card__card">
    <div class="card-category__container_card__card__textTitle">
      <img class="uk-border-circle card-category__container_card__card__logo" src="{{category.img}}">
      {{category.category}}
    </div>
    <div *ngFor= "let subcategory of category.subcategory">
      <div class="uk-heading-divider"></div>
      <div class="card-category__container_card__card__textContent">{{subcategory}}</div>
    </div>
    <div class="uk-heading-divider"></div>
    <div href="#modal-group-1" class="container_card__card__textContent uk-button uk-button-text" uk-toggle>{{category.institute}}</div>          
  </div>
</div>


<div id="modal-group-1" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">SEMA</h2>
      </div>
      <div class="uk-modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" type="button">Fechar</button>
      </div>
  </div>
</div>