<sdm-header></sdm-header>
<div class="aboutus-container">
  <div class="aboutus-container__title">Sobre Nós</div>
  <div class="aboutus-container__content">
    <p class="aboutus-container__content__main-text">O SIDEMA é um projeto desenvolvido por 5 alunos do curso de Design Digital da Universidade Federal do 
      Ceará, campus Quixada, por meio da disciplina de Projeto Integrado III. Ao longo de três meses, a equipe 
      idealizou, pesquisou, construiu a identidade visual, documentou o processo de produção, desenvolveu e 
      concebeu a solução.</p>
    <p class="aboutus-container__team">Equipe Responsável:</p>
    <p class="aboutus-container__content">Ana Karine, 7º semestre - Scrum Master e Desenvoledora Front-End</p>
    <p class="aboutus-container__content">Caíque Araújo, 7º semestre - Líder de Desenvolvimento</p>
    <p class="aboutus-container__content">Francisco Alan, 7º semestre - Desenvolvedor Full-Stack</p>
    <p class="aboutus-container__content">José Richallyson, 7º semestre - Designer UX e Desenvolvedor Front-End</p>
    <p class="aboutus-container__content">Mateus Henrique, 5º semestre - Diretor de Arte e Desenvolvedor Front-End</p>
    <p class="aboutus-container__content">Este projeto foi orientado e supervisionado pelo professor Aníbal Cavalcante</p>
  </div>
</div>
<sdm-footer></sdm-footer>