@import '~assets/sass-utils/variables';
@import '~assets/sass-utils/mixins';

.sdm-header {
    background: url('/assets/images/main-background.jpg');
    height: 110px;

    @include mqMaxWidth('md') {
        height: auto;
    }

    &__layer {
        width: 100%;
        height: 100%;
        background-color: rgba($black, $alpha: 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;  
        padding: 10px 65px; 
        box-sizing: border-box;

        @include mqMaxWidth('md') {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__logo {
            max-width: 110px;

            @include mqMaxWidth('md') {
                padding-bottom: 15px;
            }
        }

    }
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: z('login_modal');

    &__modal {
        width: 400px;
        position: fixed;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
