<div class="styleguide-container">
  <h1>Welcome to SIDEMA!</h1>
  <h4 class="uk-margin-medium-bottom">
    <a href="/home">[ IR PARA A HOME ]</a>
  </h4>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <div>
    <!-- LOGO -->
    <h4 style="text-align: center">Logo</h4>
    <sdm-logo></sdm-logo>

    <!-- BUTTONS -->
    <h4 style="text-align: center">Buttons</h4>
    <sdm-button [type]="'primary'" (click)="showAlert()">Primary</sdm-button>
    <sdm-button [type]="'secondary'">Secondary</sdm-button>

    <!-- SOCIAL BUTTONS -->
    <h4 style="text-align: center">Social Buttons</h4>
    <div style="margin-bottom: 20px">
      <sdm-social-button [socialNetwork]="'Facebook'"></sdm-social-button>
      <sdm-social-button [socialNetwork]="'Google'"></sdm-social-button>
    </div>

    <!-- FORM SIGN IN / SIGN UP -->
    <h4 style="text-align: center">Form sign in / sign up</h4>
    <div style="display: flex; justify-content: center;">
      <sdm-form-card></sdm-form-card>
    </div>

    <sdm-header></sdm-header>

  </div>
</div>
