/* You can add global styles to this file, and also import other style files */
@import "~assets/sass-utils/fonts.scss";
@import "~assets/sass-utils/variables.scss";
@import "~assets/sass-utils/mixins.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

.overflow-fix {
    overflow-y: hidden;
}

::placeholder {
    font-family: $secondary-font-light;
}

form {
    font-family: $secondary-font;
}