@import '~assets/sass-utils/variables.scss';
@import '~assets/sass-utils/mixins.scss';

.faq-container {
    padding: 25px 65px 0 65px;

    &__title {
        font-family: $primary-font-bold;
        font-size: $font-size-title-large;
        color: $primary-color;
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content > * {
        width: 50%;
        text-align: justify;
        box-sizing: border-box;
        padding-bottom: 25px;
        
        &:nth-child(even) {
            padding-left: 25px;
        }

        @include mqMaxWidth('mdx') {
            width: 100%;

            &:nth-child(even) {
                padding-left: 0;
            }
        }
    }
}