<sdm-header></sdm-header>
<div class="faq-container">
  <div class="faq-container__title">Perguntas Frequentes</div>
  <div class="faq-container__content">
      <sdm-faq-question [question] = "q1" [answer] = "a1"></sdm-faq-question>
      <sdm-faq-question [question] = "q2" [answer] = "a2"></sdm-faq-question>
      <sdm-faq-question [question] = "q3" [answer] = "a3"></sdm-faq-question>
      <sdm-faq-question [question] = "q4" [answer] = "a4"></sdm-faq-question>
  </div>
</div>
<!--<sdm-footer></sdm-footer>-->
